@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

@import "leaflet";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  clear: both;
  position: relative;
}

#map { clear: both; }

#search {
  background-color: #a6c5c5;
  width: 100%;
  form {
    margin: 0;
    padding: 5px;
    width: 100%;

    input[type="search"]{
      border: none;
      margin: 0;
      padding: 5px;
      display: block;

      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      width: 99%;
    }
  }
}

.osm_results {
  display: none;
  margin: 0;
  li {
    border-top: 2px solid white;
    background: rgba(255,255,255,.75);
    padding: 15px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: rgba(225,225,255, .75);
    }
  }
}

.search_form {
  position: relative;
  .loader {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 46px;
    width: 46px;
    background: url("../images/loader.gif") center center no-repeat;

    &.loading {
      display: inline-block;
    }
  }
}

aside {
  .filters {
    background: rgba(255, 255, 255, 0.75);
    line-height: 1em;
    list-style: none;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 75px;
    width: 200px;
    z-index: 1000;

    input[type="checkbox"] {
      margin-right: 0.5em;
      margin-top: 0;
      line-height: 1em;
    }
  }
}

@media (max-width: 600px) {
  aside {
    .filters {
      float: left;
      width: 100%;
      position: relative;
      top: 0;
      right: inherit;
      margin: 0;
    }
  }

  #search {
    form {
      input[type="search"] {
        width: 98%;
      }
    }
  }
}

.custom-icon {
  width: 32px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -7px !important;
}

.category_box {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  float: right;
  background: center center no-repeat transparent url("../images/categories/icons/default.png");
}

.Church .category_box       { background-image: url("../images/categories/icons/church.png"); }
.Health .category_box       { background-image: url("../images/categories/icons/medical.png"); }
.Legal .category_box        { background-image: url("../images/categories/icons/legal.png"); }
.Organisation .category_box { background-image: url("../images/categories/icons/women.png"); }
.Police .category_box       { background-image: url("../images/categories/icons/police.png"); }

.custom-icon.Church       { background-image: url("../images/categories/markers-symbols-white-bg/church.png"); }
.custom-icon.Health       { background-image: url("../images/categories/markers-symbols-white-bg/medical.png"); }
.custom-icon.Legal        { background-image: url("../images/categories/markers-symbols-white-bg/legal.png"); }
.custom-icon.Organisation { background-image: url("../images/categories/markers-symbols-white-bg/women.png"); }
.custom-icon.Police       { background-image: url("../images/categories/markers-symbols-white-bg/police.png"); }

#scroll {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}
