@import "compass_twitter_bootstrap";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  position: relative;
}

#map {
  min-height: 700px;
  height: 700px;
}

#search {
  position: fixed;
  z-index: 1000;
  width: 100%;
  form {
    margin: 0;
    padding: 0;
    width: 100%;
    input[type="search"]{
      border: none;
      margin:0;
      padding: 15px 40px;
      display: block;
      width: 100%;

      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}

.osm_results {
  display: none;
  margin: 0;
  li {
    border-top: 2px solid white;
    background: rgba(255,255,255,.75);
    padding: 15px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    &:hover {
      background: rgba(225,225,255, .75);
    }
  }
}

.search_form {
  position: relative;
  .loader {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    height: 46px;
    width: 46px;
    background: url("../images/loader.gif") center center no-repeat;

    &.loading {
      display: inline-block;
    }
  }
}

aside {
  .filters {
    background: rgba(255, 255, 255, 0.5);
    line-height: 1em;
    list-style: none;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: 75px;
    width: 200px;

    input[type="checkbox"] {
      margin-right: 0.5em;
      margin-top: 0;
      line-height: 1em;
    }
  }
}

.leaflet-marker-icon { background: grey; }

.box {
  width: 10px;
  height: 10px;
  margin-top: 5px;
  float: right;
}

.leaflet-marker-icon.Organisation,
.Organisation .box {
  background-color: blue;
}

.leaflet-marker-icon.Health,
.Health .box {
  background-color: red;
}

